// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
margin: 5% 5% 5% 5%;
	width:80% !important;
}
.form-horizontal{
	margin: 5% 5% 5% 5%;
}